@import "tailwindcss";

@theme {
  --color-limone: #EAC656;
  --color-navy: #0B1334;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
